// ==========================================================================
// Base Styles
// ==========================================================================

body {
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px;
}

a {
	text-decoration: none;
	color: #222;
}

a:hover {
	color: blue; 
}

ul {
	list-style-type: none;
}

h1 {
	font-size: 48px;
	margin: 0;
	padding: 0;
}

h2 {
	background: #222;
	color: #fff;
	padding: 10px 5px 5px 9px;
}

h4 {
	padding-left: 20px;
	margin: 0;
}

.title {
	color: #222;
}