// ==========================================================================
// Base Styles
// ==========================================================================

body {
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}